<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="preload" href="../content/font/SamsungOneKorean-200.woff" as="font" type="font/woff" crossorigin="anonymous"/>
    <link rel="preload" href="../content/font/SamsungOneKorean-200.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
    <link rel="preload" href="../content/font/SamsungOneKorean-200C.woff" as="font" type="font/woff" crossorigin="anonymous"/>
    <link rel="preload" href="../content/font/SamsungOneKorean-200C.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
    <link rel="preload" href="../content/font/SamsungOneKorean-300.woff" as="font" type="font/woff" crossorigin="anonymous"/>
    <link rel="preload" href="../content/font/SamsungOneKorean-300.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
    <link rel="preload" href="../content/font/SamsungOneKorean-300C.woff" as="font" type="font/woff" crossorigin="anonymous"/>
    <link rel="preload" href="../content/font/SamsungOneKorean-300C.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
    <link rel="preload" href="../content/font/SamsungOneKorean-400.woff" as="font" type="font/woff" crossorigin="anonymous"/>
    <link rel="preload" href="../content/font/SamsungOneKorean-400.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
    <link rel="preload" href="../content/font/SamsungOneKorean-400C.woff" as="font" type="font/woff" crossorigin="anonymous"/>
    <link rel="preload" href="../content/font/SamsungOneKorean-400C.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
    <link rel="preload" href="../content/font/SamsungOneKorean-500.woff" as="font" type="font/woff" crossorigin="anonymous"/>
    <link rel="preload" href="../content/font/SamsungOneKorean-500.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
    <link rel="preload" href="../content/font/SamsungOneKorean-500C.woff" as="font" type="font/woff" crossorigin="anonymous"/>
    <link rel="preload" href="../content/font/SamsungOneKorean-500C.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
    <link rel="preload" href="../content/font/SamsungOneKorean-600.woff" as="font" type="font/woff" crossorigin="anonymous"/>
    <link rel="preload" href="../content/font/SamsungOneKorean-600.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
    <link rel="preload" href="../content/font/SamsungOneKorean-600C.woff" as="font" type="font/woff" crossorigin="anonymous"/>
    <link rel="preload" href="../content/font/SamsungOneKorean-600C.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
    <link rel="preload" href="../content/font/SamsungOneKorean-700.woff" as="font" type="font/woff" crossorigin="anonymous"/>
    <link rel="preload" href="../content/font/SamsungOneKorean-700.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
    <link rel="preload" href="../content/font/SamsungOneKorean-700C.woff" as="font" type="font/woff" crossorigin="anonymous"/>
    <link rel="preload" href="../content/font/SamsungOneKorean-700C.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>

    <title>드림-하이 캠프 Dream Hi, Dream High!</title>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge"> <!-- IE 문서 모드 -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="title" content="드림-하이 캠프 Dream Hi, Dream High!">
    <meta name="keywords" content="드림클래스, 드림클래스 프리세션, 드림하이캠프">
    <meta name="description" content="드림클래스 시작을 알리는 드림-하이 캠프 안내페이지입니다.">
    <meta name="format-detection" content="telephone=no">

    <!-- common meta tag -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="드림-하이 캠프 Dream Hi, Dream High!">
    <meta property="og:title" content="갤럭시 폴더블 출시 제휴 프로모션">
    <meta property="og:description" content="드림클래스 시작을 알리는 드림-하이 캠프 안내페이지입니다.">
    <meta property="og:image" content="">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">

    <!-- twitter meta tag -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta property="twitter:title" content="드림-하이 캠프 Dream Hi, Dream High!">
    <meta property="twitter:description" content="드림클래스 시작을 알리는 드림-하이 캠프 안내페이지입니다.">
    <meta property="twitter:image" content="">
    <!-- og 이미지는 최상단에 -->

    <link rel="shortcut icon" type="image/png" href="">
    <!-- Chrome, Safari, IE (.ico) -->
    <link rel="icon" type="image/png" href="">
    <!-- Firefox, Opera (.png) -->
    <link rel="stylesheet" href="../content/styles/reset.css">
    <link rel="stylesheet" href="../content/styles/font.css">
    <link rel="stylesheet" href="../content/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css" integrity="sha512-nSomje7hTV0g6A5X/lEZq8koYb5XZtrWD7GU2+aIJD35CePx89oxSM+S7k3hqNSpHajFbtmrjavZFxSEfl6pQA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<header>
    <img src="../content/images/logo_top_web.png" class="logo-top web"/>
    <img src="../content/images/logo_top_mobile.png" class="logo-top mobile"/>
    <ul class="header-menu-ul">
        <li><a href="javascript:void(0);" class="btn-navigator" data-type="program">프로그램 소개</a></li>
        <li><span></span><a href="javascript:void(0);" class="btn-navigator" data-type="guide">활동가이드</a></li>
        <li><a href="javascript:void(0);" class="btn-navigator" data-type="event">EVENT</a></li>
    </ul>
</header>
<main>
    <div class="illustration-container">
        <div class="title-wrapper text-up on">
            <a href="javascript:void(0);" class="btn-session">드림하이 세션</a>
            <img src="../content/images/title_web.png" class="title web"/>
            <img src="../content/images/title_mobile.png" class="title mobile"/>
            <span>드림하이 세션에서 드림클래스 알아보고,</span>
            <strong>재미있는 이벤트에 참여해서 경품도 받자!</strong>
        </div>
        <img src="../content/images/illustration_web.png" class="illustration web"/>
        <img src="../content/images/illustration_mobile.png" class="illustration mobile"/>
    </div>
    <div class="program-container">
        <div id="programAnchor" class="anchor"></div>
        <div id="programAnimationAnchor" class="anchor"></div>
        <img src="../content/images/text_dream.png" class="text-dream"/>
        <h3 class="title-common text-up">2021 드림클래스 프로그램 소개</h3>
        <ul class="program-ul">
            <li class="program1">
                <div class="schedule">
                    <strong>Dream<br>READY WEEK</strong>
                    <div class="bar"></div>
                    <span>8. 30 ~ 9. 3</span>
                </div>
                <strong class="title">프리세션</strong>
                <img src="../content/images/bg_program1_web.png" class="bg-program program1 web"/>
                <img src="../content/images/bg_program1_mobile.png" class="bg-program program1 mobile"/>
                <span class="description">
                    드림클래스에 참여하기 전<br>
                    꼭 알아야할 내용을<br>
                    사진과 영상으로 익혀보세요!<br>
                    매일 진행되는 이벤트 참여하면<br>
                    ‘입학식 럭키드로우 이벤트’<br>
                    당첨 확률 UP! UP!
                </span>
            </li>
            <li class="program2">
                <div class="schedule">
                    <strong>Dream<br>START DAY</strong>
                    <div class="bar"></div>
                    <span>9. 1 <strong>17:00</strong></span>
                </div>
                <strong class="title">라이브 입학식</strong>
                <img src="../content/images/bg_program2_web.png" class="bg-program program2 web"/>
                <img src="../content/images/bg_program2_mobile.png" class="bg-program program2 mobile"/>
                <span class="description">
                    2021 드림클래스의<br>
                    새로운 여정으로의 출발을 알리는<br>
                    언택트 라이브쇼!<br>
                    MC 장성규, 래퍼 영지와 함께<br>
                    다양한 퀴즈, 강연, 소통까지<br>
                    함께해요!
                </span>
            </li>
            <li class="program3">
                <div class="schedule">
                    <strong>Dream<br>PLAY MONTH</strong>
                    <div class="bar"></div>
                    <span>9. 1 ~ 9. 30</span>
                </div>
                <strong class="title">에프터 세션</strong>
                <img src="../content/images/bg_program3_web.png" class="bg-program program3 web"/>
                <img src="../content/images/bg_program3_mobile.png" class="bg-program program3 mobile"/>
                <span class="description">
                    이제 본격적으로<br>
                    드림클래스에서 놀자!<br>
                    주차 별로 준비된<br>
                    이벤트에 참여하고<br>
                    드림클래스를<br>
                    100% 즐겨보세요!
                </span>
            </li>
        </ul>
    </div>
    <div class="guide-container">
        <div id="guideAnchor" class="anchor"></div>
        <div id="guideAnimationAnchor" class="anchor"></div>
        <h3 class="title-common text-up">2021 드림클래스 활동가이드</h3>
        <div class="gallery-wrapper">
            <div class="vertical-bar"></div>
            <strong class="title">드림클래스 알아보기</strong>
            <div class="swiper-container">
                <div class="swiper-navigator-wrapper">
                    <a href="javascript:void(0);" class="btn-swiper1-prev prev">
                        <img src="../content/images/btn_prev_web.png" class="web"/>
                        <img src="../content/images/btn_prev_mobile.png" class="mobile"/>
                    </a>
                    <a href="javascript:void(0);" class="btn-swiper1-next next">
                        <img src="../content/images/btn_next_web.png" class="web"/>
                        <img src="../content/images/btn_next_mobile.png" class="mobile"/>
                    </a>
                </div>
                <div id="swiper1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="dim"></div>
                            <a href="javascript:void(0);" data-index="1"></a>
                            <img src="../content/images/sample/swiper_sample.png"/>
                            <span class="title">제목 입니다. 15자 이내 제목 입니다.</span>
                        </div>
                        <div class="swiper-slide">
                            <div class="dim"></div>
                            <a href="javascript:void(0);" data-index="2"></a>
                            <img src="../content/images/sample/swiper_sample.png"/>
                            <span class="title">가나다라마가나다라마가나다라마</span>
                        </div>
                        <div class="swiper-slide">
                            <div class="dim"></div>
                            <a href="javascript:void(0);" data-index="3"></a>
                            <img src="../content/images/sample/swiper_sample.png"/>
                            <span class="title">123451234512345</span>
                        </div>
                        <div class="swiper-slide">
                            <div class="dim"></div>
                            <a href="javascript:void(0);" data-index="4"></a>
                            <img src="../content/images/sample/swiper_sample.png"/>
                            <span class="title">ABCDEABCDEABCDE</span>
                        </div>
                        <div class="swiper-slide">
                            <div class="dim"></div>
                            <a href="javascript:void(0);" data-index="5"></a>
                            <img src="../content/images/sample/swiper_sample.png"/>
                            <span class="title">가나다라마가나다라마가나다라마</span>
                        </div>
                        <div class="swiper-slide">
                            <div class="dim"></div>
                            <a href="javascript:void(0);" data-index="6"></a>
                            <img src="../content/images/sample/swiper_sample.png"/>
                            <span class="title">123451234512345</span>
                        </div>
                        <div class="swiper-slide">
                            <div class="dim"></div>
                            <a href="javascript:void(0);" data-index="7"></a>
                            <img src="../content/images/sample/swiper_sample.png"/>
                            <span class="title">ABCDEABCDEABCDE</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery-wrapper">
            <div class="vertical-bar"></div>
            <strong class="title">활동 안내 영상 / 카드뉴스</strong>
            <div class="swiper-container">
                <div class="swiper-navigator-wrapper">
                    <a href="javascript:void(0);" class="btn-swiper2-prev prev">
                        <img src="../content/images/btn_prev_web.png" class="web"/>
                        <img src="../content/images/btn_prev_mobile.png" class="mobile"/>
                    </a>
                    <a href="javascript:void(0);" class="btn-swiper2-next next">
                        <img src="../content/images/btn_next_web.png" class="web"/>
                        <img src="../content/images/btn_next_mobile.png" class="mobile"/>
                    </a>
                </div>
                <div id="swiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="dim"></div>
                            <a href="javascript:void(0);" data-index="1"></a>
                            <img src="../content/images/sample/swiper_sample.png"/>
                            <span class="title">제목 입니다. 15자 이내 제목 입니다.</span>
                        </div>
                        <div class="swiper-slide">
                            <div class="dim"></div>
                            <a href="javascript:void(0);" data-index="2"></a>
                            <img src="../content/images/sample/swiper_sample.png"/>
                            <span class="title">가나다라마가나다라마가나다라마</span>
                        </div>
                        <div class="swiper-slide">
                            <div class="dim"></div>
                            <a href="javascript:void(0);" data-index="3"></a>
                            <img src="../content/images/sample/swiper_sample.png"/>
                            <span class="title">123451234512345</span>
                        </div>
                        <div class="swiper-slide">
                            <div class="dim"></div>
                            <a href="javascript:void(0);" data-index="4"></a>
                            <img src="../content/images/sample/swiper_sample.png"/>
                            <span class="title">ABCDEABCDEABCDE</span>
                        </div>
                        <div class="swiper-slide">
                            <div class="dim"></div>
                            <a href="javascript:void(0);" data-index="5"></a>
                            <img src="../content/images/sample/swiper_sample.png"/>
                            <span class="title">가나다라마가나다라마가나다라마</span>
                        </div>
                        <div class="swiper-slide">
                            <div class="dim"></div>
                            <a href="javascript:void(0);" data-index="6"></a>
                            <img src="../content/images/sample/swiper_sample.png"/>
                            <span class="title">123451234512345</span>
                        </div>
                        <div class="swiper-slide">
                            <div class="dim"></div>
                            <a href="javascript:void(0);" data-index="7"></a>
                            <img src="../content/images/sample/swiper_sample.png"/>
                            <span class="title">ABCDEABCDEABCDE</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="event-container">
        <div id="eventAnchor" class="anchor"></div>
        <div id="eventAnimationAnchor" class="anchor"></div>
        <img src="../content/images/text_hi.png" class="text-hi"/>
        <img src="../content/images/text_high.png" class="text-high"/>
        <div class="event-top-wrapper text-up">
            <div class="subject">밸런스 게임 EVENT</div>
            <div class="body">
                <img src="../content/images/lucky_box.png" class="lucky-box"/>
                <div class="description">
                    <span>
                        업데이트 되는 질문을 확인하고 나만의 답변을 달아주세요.<br>
                        참여자들에게는 입학식 럭키드로우 번호가 문자로 전송됩니다.<br>
                    </span>
                    <strong>
                        하루 한 번, 총 여섯 번까지 참여 가능!<br>
                        당첨 가능성을 높여보세요!
                    </strong>
                    <div class="padding"></div>
                    <strong>※ 당첨자 발표 : </strong>
                    <span>9월 1일 입학식</span>
                    <span class="underline">당일 럭키드로우 추첨</span>
                </div>
            </div>
        </div>
        <div class="event-item-wrapper">
            <div class="subject">이벤트 경품</div>
            <ul class="item-ul">
                <li>
                    <img src="../content/images/item1_web.png" class="web"/>
                    <img src="../content/images/item1_mobile.png" class="mobile"/>
                    <span>
                        입학식 현장 추첨<br>
                        갤럭시 버즈 2
                    </span>
                    <strong>(총 3명)</strong>
                </li>
                <li>
                    <img src="../content/images/item2_web.png" class="web"/>
                    <img src="../content/images/item2_mobile.png" class="mobile"/>
                    <span>
                        입학식 현장 추첨<br>
                        파타고니아 백팩
                    </span>
                    <strong>(총 2명)</strong>
                </li>
                <li>
                    <img src="../content/images/item3_web.png" class="web"/>
                    <img src="../content/images/item3_mobile.png" class="mobile"/>
                    <span>
                        랜덤 추첨 / <span>※9월 중 개별 안내</span><br>
                        맘스터치 싸이버거 세트 기프티콘
                    </span>
                    <strong>(총 150명)</strong>
                </li>
            </ul>
        </div>
        <div class="quiz-comment-wrapper">
            <div class="quiz-wrapper">
                <div class="subject">
                    <img src="../content/images/icon_q.png" class="icon-q"/>
                    둘 중 더 끔찍한 상황은?
                </div>
                <ul class="quiz-ul">
                    <li class="example-a">
                        <a href="javascript:void(0);" class="btn-select-example" data-example="a">
                            <span class="situation">
                                단톡방에 수업장면 캡쳐 사진이<br>
                                올라왔는데 하품하는 내 얼굴<br>
                                대문짝 만하게 나왔다!
                            </span>
                            <strong class="percentage">43.5%</strong>
                        </a>
                    </li>
                    <li class="example-b">
                        <a href="javascript:void(0);" class="btn-select-example" data-example="b">
                            <span class="situation">
                                수업 듣고 있는데, 방 청소를 깜빡하여<br>
                                더러운 내 방 상태가<br>
                                그대로 공개되어 버렸다!!!
                            </span>
                            <strong class="percentage">56.5%</strong>
                        </a>
                    </li>
                </ul>
                <a href="javascript:void(0);" class="btn-get-sms">선택하고 럭키드로우 문자 받기</a>
            </div>
            <div class="comment-wrapper">
                <strong class="comment-count">
                    총 <span id="commentCount">234</span>개의 댓글
                </strong>
                <ul class="comment-ul">
                    <li>
                        <div class="header">
                            <span class="name">홍*동(멘토)</span>
                            <span class="etc"> / 음소거 상태에서 화면만 보고 수업 듣기</span>
                        </div>
                        <div class="comment-content">
                            이게 짱이죠! 최대 100자까지 작성됩니다. 이게 짱이죠! 최대 100자까지 작성됩니다. 이게 짱이죠! 최대 100자까지 작성됩니다.
                        </div>
                    </li>
                    <li>
                        <div class="header">
                            <span class="name">홍*동(멘토)</span>
                            <span class="etc"> / 음소거 상태에서 화면만 보고 수업 듣기</span>
                        </div>
                        <div class="comment-content">
                            가나다라마바사아자차1234567890ABCDEFGHIJ가나다라마바사아자차1234567890ABCDEFGHIJ가나다라마바사아자차1234567890ABCDEFGHIJ가나다라마바사아자차
                        </div>
                    </li>
                    <li>
                        <div class="header">
                            <span class="name">홍*동(멘토)</span>
                            <span class="etc"> / 음소거 상태에서 화면만 보고 수업 듣기</span>
                        </div>
                        <div class="comment-content">
                            가나다라마바사아자차가나다라마바사아자차가나다라마바사아자차가나다라마바사아자차가나다라마바사아자차가나다라마바사아자차가나다라마바사아자차가나다라마바사아자차가나다라마바사아자차가나다라마바사아자차
                        </div>
                    </li>
                    <li>
                        <div class="header">
                            <span class="name">홍*동(멘토)</span>
                            <span class="etc"> / 음소거 상태에서 화면만 보고 수업 듣기</span>
                        </div>
                        <div class="comment-content">
                            1234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890
                        </div>
                    </li>
                    <li>
                        <div class="header">
                            <span class="name">홍*동(멘토)</span>
                            <span class="etc"> / 음소거 상태에서 화면만 보고 수업 듣기</span>
                        </div>
                        <div class="comment-content">
                            ABCDEFGHIJABCDEFGHIJABCDEFGHIJABCDEFGHIJABCDEFGHIJABCDEFGHIJABCDEFGHIJABCDEFGHIJABCDEFGHIJABCDEFGHIJ
                        </div>
                    </li>
                </ul>
                <a href="javascript:void(0);" class="btn-show-more-comment">더보기</a>
            </div>
        </div>
        <div class="warning-wrapper">
            <strong class="warning">· 이벤트 주의사항</strong>
            <ul class="warning-ul">
                <li>- 개인정보 누락 및 오 기입, 휴대폰 해지/정지/번호 변경으로 인한 <span>당첨 취소에 대한 책임은 당첨자에 있습니다.</span></li>
                <li>- 당첨자가 당첨 포기를 원하는 경우, 당첨 및 경품에 대한 권리는 자동 소멸됩니다.</li>
                <li>- 개인정보 수집 및 이용 동의는 개인정보 보호법 규정에 의거하여 적용됩니다.</li>
                <li>- 개인정보는 이벤트 종료 후 3개월 내에 폐기됩니다.</li>
                <li>- 본 이벤트는 당사 사정에 의해 이벤트 내용이 변경되거나 조기 종료될 수 있습니다.</li>
            </ul>
        </div>
    </div>
</main>
<footer>
    <span class="copyright">COPYRIGHT ⓒ SAMSUNG CO.,LTD. ALL RIGHTS RESERVED</span>
    <a href="privacy.html">개인정보 처리방침</a>
</footer>
<ul class="float-menu-ul">
    <li><a href="javascript:void(0);" class="btn-navigator" data-type="program">프로그램 소개</a></li>
    <li><a href="javascript:void(0);" class="btn-navigator" data-type="guide">활동가이드</a></li>
    <li><a href="javascript:void(0);" class="btn-navigator" data-type="event">EVENT</a></li>
</ul>
<style>
    #galleryDummy1{width:100%;height:1000px;display:flex;justify-content:center;align-items:center;font-size:40px}
    #galleryDummy2{width:100%;height:400px;display:flex;justify-content:center;align-items:center;font-size:40px}
</style>
<div id="dim" style="display:none"></div>
<div class="modal-container" style="display:none">
    <div class="modal gallery1">
        <div class="gallery-wrapper">
            <div id="galleryDummy1"></div>
        </div>
        <div class="button-area">
            <a href="javascript:void(0);" class="btn-close-modal" data-modal="gallery1">닫기</a>
        </div>
    </div>
    <div class="modal gallery2">
        <div class="gallery-wrapper">
            <div id="galleryDummy2"></div>
        </div>
        <div class="button-area">
            <a href="javascript:void(0);" class="btn-close-modal" data-modal="gallery2">닫기</a>
        </div>
    </div>
    <div class="modal sns-login">
        <div class="sns-login-wrapper">
            <h3>SNS 계정으로 로그인</h3>
            <a href="javascript:void(0);" class="btn-sns-naver">
                <img src="../content/images/btn_sns_naver.png"/>
            </a>
            <a href="javascript:void(0);" class="btn-sns-kakao">
                <img src="../content/images/btn_sns_kakao.png"/>
            </a>
        </div>
        <div class="button-area">
            <a href="javascript:void(0);" class="btn-close-modal" data-modal="snsLogin">닫기</a>
        </div>
    </div>
    <div class="modal form">
        <div class="form-wrapper">
            <h3>이벤트 응모</h3>
            <div class="warning">
                <strong>음소거 상태에서 화면만 보고 수업 듣기</strong><br>
                를 선택 하셨습니다.
            </div>
            <div class="textarea">
                <strong>선택한 이유를 한 줄로 작성해주세요.</strong>
                <textarea></textarea>
            </div>
            <div class="form">
                <strong>럭키드로우 번호 발송을 위한 개인정보를 입력해 주세요.</strong>
                <div class="form-box">
                    <label for="name">이름</label>
                    <div class="input-box">
                        <input type="text" id="name" name="name">
                        <div class="radio-box">
                            <div class="radio-wrapper">
                                <input type="radio" id="mentorRadio" name="type" value="mentor">
                                <label for="mentorRadio" class="mentor">멘토</label>
                            </div>
                            <div class="radio-wrapper">
                                <input type="radio" id="menteeRadio" name="type" value="mentee">
                                <label for="menteeRadio" class="mentee">멘티</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-box">
                    <label for="phone">핸드폰번호</label>
                    <div class="input-box">
                        <input type="text" id="phone" name="phone">
                    </div>
                    <span class="warning">※ 럭키 드로우 번호가 발송되므로 정확하게 입력하세요.</span>
                </div>
            </div>
            <div class="agree">
                <div class="agree-box">
                    <span>개인정보 수집 이용 동의 (필수)</span>
                    <div class="textarea">
                        개인정보 수집 이용 동의
                        개인정보 수집 이용 동의
                        개인정보 수집 이용 동의
                        개인정보 수집 이용 동의
                        개인정보 수집 이용 동의
                        개인정보 수집 이용 동의
                        개인정보 수집 이용 동의
                        개인정보 수집 이용 동의
                        개인정보 수집 이용 동의
                        개인정보 수집 이용 동의
                        개인정보 수집 이용 동의
                        개인정보 수집 이용 동의
                        개인정보 수집 이용 동의
                        개인정보 수집 이용 동의
                        개인정보 수집 이용 동의
                        개인정보 수집 이용 동의
                    </div>
                    <div class="checkbox-wrapper">
                        <label for="agree1">
                        <input type="checkbox" id="agree1" name="agree1">
                        <div></div>
                        개인정보 수집·이용에 동의합니다.</label>
                    </div>
                </div>
                <div class="agree-box">
                    <span>개인정보 위탁 동의 (필수)</span>
                    <div class="textarea"></div>
                    <div class="checkbox-wrapper">
                        <label for="agree2">
                        <input type="checkbox" id="agree2" name="agree2">
                        <div></div>
                        개인정보 위탁에 동의합니다.</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-area">
            <a href="javascript:void(0);" class="btn-cancel-form" data-modal="form">취소</a>
            <a href="javascript:void(0);" class="btn-submit-form">작성완료</a>
        </div>
    </div>
    <div class="modal result">
        <div class="result-wrapper">
            <h2>이벤트 응모가 완료되었습니다.</h2>
            <h3>럭키드로우 번호가 작성하신 연락처로 발송되었습니다.</h3>
            <span class="warning">※ 문자 발송 대기시간 최대 5분</span>
            <div class="modal-item-wrapper">
                <strong>
                    하루 한 번, 총 여섯 번까지 참여 가능!<br>
                    추가로 참여하고 당첨 가능성을 높여보세요!
                </strong>
                <ul class="modal-item-ul">
                    <li>
                        <img src="../content/images/item1_modal.png"/>
                        <span>
                            입학식 현장 추첨<br>
                            갤럭시<br>
                            버즈 2
                        </span>
                        <strong>(총 3명)</strong>
                    </li>
                    <li>
                        <img src="../content/images/item2_modal.png"/>
                        <span>
                            입학식 현장 추첨<br>
                            파타고니아<br>
                            백팩
                        </span>
                        <strong>(총 2명)</strong>
                    </li>
                    <li>
                        <img src="../content/images/item3_modal.png"/>
                        <span>
                            랜덤 추첨<br>
                            <span>※9월 중 개별 안내</span><br>
                            <strong>맘스터치</strong> 싸이버거 세트<br>
                            기프티콘
                        </span>
                        <strong>(총 150명)</strong>
                    </li>
                </ul>
            </div>
        </div>
        <div class="button-area">
            <a href="javascript:void(0);" class="btn-close-modal" data-modal="result">닫기</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="../content/scripts/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js" integrity="sha512-ZHauUc/vByS6JUz/Hl1o8s2kd4QJVLAbkz8clgjtbKUJT+AG1c735aMtVLJftKQYo+LD62QryvoNa+uqy+rCHQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">

    var swiper1, swiper2;

    $(document).ready(function(){
        var mql = window.matchMedia('screen and (max-width: 740px)');
        if (!mql.matches) {
            $('.program-ul>li').hover(function(){
                $(this).addClass('active');
            }, function(){
                $(this).removeClass('active');
            })
        } else {
            $('.program-ul>li').click(function(){
                $(this).toggleClass('active');
            })
        }

        $('.btn-select-example[data-example="a"]').click();
        setSwiper();
    });

    $(window).resize(function(){
        swiper1.destroy();
        swiper2.destroy();
        swiper1 = undefined;
        swiper2 = undefined;
        setSwiper();
    })

    var swiperOption = function(swiper) {
        return {
            effect: 'coverflow',
            centeredSlides: true,
            slidesPerView: 2,
            coverflowEffect: {
                rotate: 0,
                stretch: 0,
                depth: 400,
                modifier: 1,
                slideShadows: false,
            },
            loop: true,
            navigation: {
                nextEl: '.btn-' + swiper + '-next',
                prevEl: '.btn-' + swiper + '-prev',
            },
            autoplay: {
                delay: 3000
            },
            breakpoints: {
                740: {
                    slidesPerView: 1
                }
            }
        }
    };

    function setSwiper(){
        swiper1 = new Swiper('#swiper1', swiperOption('swiper1'));
        swiper2 = new Swiper('#swiper2', swiperOption('swiper2'));
    }

    $('.btn-select-example').click(function(){
        $('.quiz-ul>li').removeClass('active');
        var example = $(this).data('example');
        $('.example-' + example).addClass('active');
    });

    $('.btn-show-more-comment').click(function(){
        var comment = '';
        comment += '<li>';
        comment += '<div class="header">';
        comment += '<span class="name">홍*동(멘토)</span>';
        comment += '<span class="etc"> / 음소거 상태에서 화면만 보고 수업 듣기</span>';
        comment += '</div>';
        comment += '<div class="comment-content">';
        comment += '이게 짱이죠! 최대 100자까지 작성됩니다. 이게 짱이죠! 최대 100자까지 작성됩니다. 이게 짱이죠! 최대 100자까지 작성됩니다.';
        comment += '</div>';
        comment += '</li>';
        comment += '<li>';
        comment += '<div class="header">';
        comment += '<span class="name">홍*동(멘토)</span>';
        comment += '<span class="etc"> / 음소거 상태에서 화면만 보고 수업 듣기</span>';
        comment += '</div>';
        comment += '<div class="comment-content">';
        comment += '가나다라마바사아자차1234567890ABCDEFGHIJ가나다라마바사아자차1234567890ABCDEFGHIJ가나다라마바사아자차1234567890ABCDEFGHIJ가나다라마바사아자차';
        comment += '</div>';
        comment += '</li>';
        comment += '<li>';
        comment += '<div class="header">';
        comment += '<span class="name">홍*동(멘토)</span>';
        comment += '<span class="etc"> / 음소거 상태에서 화면만 보고 수업 듣기</span>';
        comment += '</div>';
        comment += '<div class="comment-content">';
        comment += '가나다라마바사아자차가나다라마바사아자차가나다라마바사아자차가나다라마바사아자차가나다라마바사아자차가나다라마바사아자차가나다라마바사아자차가나다라마바사아자차가나다라마바사아자차가나다라마바사아자차';
        comment += '</div>';
        comment += '</li>';
        comment += '<li>';
        comment += '<div class="header">';
        comment += '<span class="name">홍*동(멘토)</span>';
        comment += '<span class="etc"> / 음소거 상태에서 화면만 보고 수업 듣기</span>';
        comment += '</div>';
        comment += '<div class="comment-content">';
        comment += '1234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890';
        comment += '</div>';
        comment += '</li>';
        comment += '<li>';
        comment += '<div class="header">';
        comment += '<span class="name">홍*동(멘토)</span>';
        comment += '<span class="etc"> / 음소거 상태에서 화면만 보고 수업 듣기</span>';
        comment += '</div>';
        comment += '<div class="comment-content">';
        comment += 'ABCDEFGHIJABCDEFGHIJABCDEFGHIJABCDEFGHIJABCDEFGHIJABCDEFGHIJABCDEFGHIJABCDEFGHIJABCDEFGHIJABCDEFGHIJ';
        comment += '</div>';
        comment += '</li>';
        
        $('.comment-ul').append(comment);
    });

    $('.btn-navigator').click(function(){
        var type = $(this).data('type');
        var anchor = $('#' + type +'Anchor');
        var anchorOffsetY = anchor.offset().top;

        $('html, body').animate({scrollTop: anchorOffsetY}, 500)
    });

    $(window).scroll(function () {
        var scroll = $(window).scrollTop();
        var programAnchor = $('#programAnchor').offset().top - 2;
        var guideAnchor = $('#guideAnchor').offset().top - 2;
        var eventAnchor = $('#eventAnchor').offset().top - 2;
        if (scroll > programAnchor) {
            $('.float-menu-ul').addClass('active');
        } else {
            $('.float-menu-ul').removeClass('active');
        }

        $('.btn-navigator').removeClass('active');
        if (scroll < guideAnchor) {
            $('.btn-navigator[data-type="program"]').addClass('active');
        } else if (scroll >= guideAnchor && scroll < eventAnchor) {
            $('.btn-navigator[data-type="guide"]').addClass('active');
        } else {
            $('.btn-navigator[data-type="event"]').addClass('active');
        }


        var programAnimationAnchor = $('#programAnimationAnchor').offset().top - 2;
        var guideAnimationAnchor = $('#guideAnimationAnchor').offset().top - 2;
        var eventAnimationAnchor = $('#eventAnimationAnchor').offset().top - 2;

        if (scroll >= programAnimationAnchor) {
            $('.program-container .title-common').addClass('on')
        }
        if (scroll >= guideAnimationAnchor) {
            $('.guide-container .title-common').addClass('on')
        }

        if (scroll >= eventAnimationAnchor) {
            $('.event-container>.event-top-wrapper').addClass('on')
        }
    });

    $('#swiper1 a').click(function(){
        showModal('gallery1');
        var text = '#swiper1<br>';
        text += 'index : ' + $(this).data('index');
        $('#galleryDummy1').html(text)
    });

    $('#swiper2 a').click(function(){
        showModal('gallery2');
        var text = '#swiper2<br>';
        text += 'index : ' + $(this).data('index');
        $('#galleryDummy2').html(text)
    });

    $('.btn-get-sms').click(function(){
        showModal('sns-login');
    });

    $('.btn-sns-kakao, .btn-sns-naver').click(function(){
        hideModal('sns-login');
        showModal('form');
    })

    $('.btn-submit-form').click(function(){
        hideModal('form');
        showModal('result');
    });

    $('.btn-close-modal, .btn-cancel-form').click(function(){
        hideModal($(this).data('modal'));
    });

    function showModal(modal){
        $('body').addClass('modal');
        $('#dim').show();
        $('.modal-container').css('display', 'flex');
        $('.modal-container').addClass(modal);
        $('.modal.' + modal).css('display', 'flex');
    }

    function hideModal(modal){
        $('body').removeClass('modal');
        $('#dim').hide();
        $('.modal-container').hide();
        $('.modal-container').removeClass(modal);
        $('.modal.' + modal).hide();
    }
</script>
</body>
</html>